<% throw_content :for_sidebar do -%>
  <div class="tag_cloud">
    <p>Popular Tags</p>
    <%= tag_cloud @tags %>
  </div>
  
  <div id="things_i_do">
    <div class="title">Things I Do</div>
    <p>
      <a href="http://github.com/penguincoder"><img src="/images/utilities-terminal.png" /> Code on Github</a><br />
      <a href="http://del.icio.us/penguincoder"><img src="/images/delicious.med.gif" /> Del.icio.us Feed</a><br />
      <a href="http://barleysodas.com">BarleySodas</a> Beer Wiki With Lots More<br />
    </p>
  </div>
<% end -%>

<% @secondary_title = "Demolishing innocence for #{time_lost_in_words(Time.now, @oldest_date)}" unless @oldest_date.nil? -%>

<% if @news.empty? -%>

  <p><strong><em>There are no news posts, yet.</em></strong></p>

<% else -%>

  <% @news.each do |page| -%>
    <%= partial 'pages/page', :with => [ page ] %>
  <% end -%>

  <%= partial 'shared/pagination_links' %>

<% end -%>
