<%= form_for :invitation, :action => url(:invitation) do -%>
  <fieldset>
    <legend>Invite A Drinker</legend>
    <p>
      <%= text_field 'recipient', :label => 'Recipient: ' %>
    </p>
  </fieldset>
  <p>
    <%= submit 'Send' %>
  </p>
<% end =%>
